name: tests

on: [push]

jobs:
  build:

    runs-on: macOS-latest

    steps:
    - uses: actions/checkout@v1
    - name: Install Cocoapods
      run: |
        gem install cocoapods
        pod install --project-directory=Example
    - name: Run Test
      run: |
        set -eo pipefail
        xcodebuild test -enableCodeCoverage YES -workspace Example/Prettier.swift.xcworkspace -scheme Prettier_Swift_Example -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone XÊ€' | xcpretty